<ion-view view-title="Items">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear icon ion-plus" ng-click="openNewItemModal()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" ng-click="toggleDone(item)">
        <i class="icon positive" ng-class="{'ion-ios-circle-outline': !item.done, 'ion-ios-checkmark': item.done}"></i>
        <span ng-class="{'done': item.done}">{{item.name}}</span>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-stable" ng-click="goToItemDetail(item.id)">
          Detail
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
