<ion-view view-title="Items">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear icon ion-plus" ng-click="openNewItemModal()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-reorder="shouldShowReorder" show-delete="shouldShowReorder">
      <ion-item ng-repeat="item in items" ng-click="toggleDone(item)">
        <i class="icon positive" ng-class="{'ion-ios-circle-outline': !item.done, 'ion-ios-checkmark': item.done}"></i>
        <span ng-class="{'done': item.done}">
          {{item.name}}
          <span class="item-note">
            {{item.quantity}}
          </span>
        </span>
        <ion-option-button class="button-positive" ng-click="openEditItemModal(item)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-stable" ng-click="goToItemDetail(item.id)">
          Detail
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(item)"></ion-delete-button>
      </ion-item>
    </ion-list>
    <div class="padding">
      <button class="button button-clear button-block" ng-click="shouldShowReorder = !shouldShowReorder">Re-arrange or Delete items</button>
    </div>
  </ion-content>
</ion-view>
